{{ define "main" }}
<div id="archive">
  <ul class="post-list">
    {{ $dataFormat := .Site.Params.dateFormat | default "2006-01-02" }}
    {{ range (sort .Paginator.Pages "Date" "desc") }}
      {{ $year := .Date.Format "2006" }}
      {{ if (ne $year ($.Scratch.Get "year")) }}
        {{ $.Scratch.Set "year" $year }}
        <h2>{{ $year }}</h2>
      {{ end }}
      {{ partial "post-item.html" (dict "page" . "dateFormat" $dataFormat "home" false) }}
    {{ end }}
  </ul>
  {{ partial "pagination.html" . }}
</div>
{{ end }}
