#footer-post {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5000000;
  width: 100%;
  border-top: 1px solid $color-border;
  background: $color-footer-mobile-1;
  transition: opacity .2s;

  a {
    background: none;
    color: inherit;
    text-decoration: none;
  }
  a.icon {
    background: none;
    transition: all 0.2s ease;

    &:hover {
      color: $color-link;
      transform: scale(1.1);
    }

    &:active {
      transform: scale(0.95);
    }
  }
  #nav-footer {
    padding-right: 1rem;
    padding-left: 1rem;
    background: $color-footer-mobile-2;
    text-align: center;

    a {
      color: $color-accent-1;
      font-size: 1em;
      transition: all 0.2s ease;

      &:hover {
        @include underline(5px, $color-accent-1);
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }
    }
    ul {
      display: table;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;

      li {
        display: inline-table;
        padding: 8px;
        width: 20%;
        vertical-align: middle;
      }
    }
  }
  #actions-footer {
    overflow: auto;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    padding-right: 1rem;
    padding-left: 1rem;
    width: 100%;
    text-align: center;
    white-space: nowrap;

    a {
      display: inline-block;
      padding: 0 0.8rem;
      color: $color-accent-1;
      transition: all 0.2s ease;

      &:hover {
        transform: translateY(-1px);
      }

      &:active {
        transform: translateY(0);
      }
    }
  }
  #share-footer {
    padding-right: 1rem;
    padding-left: 1rem;
    background: $color-footer-mobile-2;
    text-align: center;

    ul {
      display: table;
      margin: 0;
      padding: 0;
      width: 100%;
      list-style-type: none;

      li {
        display: inline-table;
        padding: 8px;
        width: 20%;
        vertical-align: middle;

        a {
          transition: all 0.2s ease;

          &:hover {
            transform: scale(1.1);
          }

          &:active {
            transform: scale(0.95);
          }
        }
      }
    }
  }
  #toc-footer {
    clear: both;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
    background: $color-footer-mobile-2;
    text-align: left;

    #TableOfContents {
      ul {
        margin: 0;
        padding: 0;
        padding-left: 15px;
        list-style-type: none;
      }
    }
    a:hover {
      color: $color-link;
    }

    // Level 1 - Top level headings
    #TableOfContents > ul > li {
      color: $color-text;
      font-size: 0.75rem;
      font-weight: 600;
      padding: 0.12rem 0;
      border-left: 2px solid $color-accent-1;
      padding-left: 0.4rem;
      margin-bottom: 0.1rem;
      line-height: 1.3;
    }

    // Level 2 - Second level headings
    #TableOfContents > ul > li > ul > li {
      color: $color-meta;
      font-size: 0.7rem;
      padding: 0.1rem 0;
      padding-left: 0.9rem;
      margin-left: 0.25rem;
      border-left: 1px solid rgba(128, 128, 128, 0.3);
      line-height: 1.3;
    }

    // Level 3 and below - Hide
    #TableOfContents > ul > li > ul > li > ul > li {
      display: none;
    }
  }
}
@media screen and (min-width: 500px) {
  #footer-post-container {
    display: none;
  }
};