<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{ partial "head.html" . }}
<body class="max-width mx-auto px3 ltr">
  <!-- Theme switcher (fixed in top-right corner) -->
  <div class="theme-switcher">
    <!-- JavaScript will insert toggle button here -->
  </div>

  <div class="content index py4">

    {{ partial "header.html" . }}

    {{ block "main" . }}
    {{ end }}

    {{ partial "footer.html" . }}

  </div>
</body>

<link rel="stylesheet" href={{ "lib/font-awesome/css/all.min.css" | relURL }}>
<script src={{ "js/main.js" | relURL }} defer></script>
{{ partial "music-player.html" . }}
</html>
