<div class="book-card">
  <div class="book-cover">
    {{ if .Params.cover }}
      <a href="{{ .Permalink }}">
        <img src="{{ .Params.cover }}" alt="{{ .Title }}" loading="lazy" decoding="async">
      </a>
    {{ else }}
      <div class="book-cover-placeholder">📖</div>
    {{ end }}
  </div>
  <div class="book-info">
    <h3 class="book-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h3>
    <p class="book-author">{{ .Params.author }}</p>
    <div class="book-rating">{{ partial "stars.html" .Params.rating }}</div>
    <div class="book-meta">
      <span class="book-date">📅 {{ .Params.dateFinished | default .Date | time.Format (.Site.Params.dateFormat | default "2006-01-02") }}</span>
      {{ with .Params.readingTime }}
        <span class="book-duration">📖 {{ . }}</span>
      {{ end }}
    </div>
  </div>
</div>
