{{/*
  Resolve enable_comments with priority:
    1. Page-level front matter (Params.comments) overrides everything.
    2. Site-level [params.comments] map:
       - explicit `enabled` boolean wins
       - otherwise true if the map is non-empty
    3. Otherwise: false.
*/}}
{{ $enable_comments := false }}
{{ if (isset .Params "comments") }}
  {{ $enable_comments = .Params.comments }}
{{ else if (reflect.IsMap .Site.Params.Comments) }}
  {{ if (isset .Site.Params.Comments "enabled") }}
    {{ $enable_comments = .Site.Params.Comments.enabled }}
  {{ else }}
    {{ $enable_comments = true }}
  {{ end }}
{{ end }}

{{ $engine := "" }}
{{ if (reflect.IsMap .Site.Params.Comments) }}
  {{ if (isset .Site.Params.Comments "engine") }}
    {{ $engine = .Site.Params.Comments.engine }}
  {{ end }}
{{ end }}

{{ if $enable_comments }}
  <div class="blog-post-comments">
    {{ if (or (eq $engine "") (eq $engine "disqus")) }}
      {{ partial "comments/disqus.html" . }}
    {{ else if eq $engine "utterances" }}
      {{ partial "comments/utterances.html" . }}
    {{ else if eq $engine "bat_comments" }}
      {{ partial "comments/bat_comments.html" . }}
    {{ end }}
  </div>
{{ end }}
