<div id="header-post">
  <a id="menu-icon" href="#" aria-label="Menu"><i class="fas fa-bars fa-lg"></i></a>
  <a id="menu-icon-tablet" href="#" aria-label="Menu"><i class="fas fa-bars fa-lg"></i></a>
  <a id="top-icon-tablet" href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'});" style="display:none;" aria-label="{{ i18n "nav.topOfPage" }}"><i class="fas fa-chevron-up fa-lg"></i></a>
  <span id="menu">
    <span id="nav">
      <ul>
        {{ range .Site.Menus.main }} 
        <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </span>
    <br/>
    <span id="actions">
      <ul>
        {{ if .Prev }}
        <li>
          <a class="icon" href=" {{ .Prev.Permalink }}" aria-label="{{ i18n "nav.previous" }}">
            <i class="fas fa-chevron-left" aria-hidden="true" onmouseover="toggleDisplay('i-prev')" onmouseout="toggleDisplay('i-prev')"></i>
          </a>
        </li>
        {{ end }}
        {{ if .Next }}
        <li>
          <a class="icon" href="{{ .Next.Permalink }}" aria-label="{{ i18n "nav.next" }}">
            <i class="fas fa-chevron-right" aria-hidden="true" onmouseover="toggleDisplay('i-next')" onmouseout="toggleDisplay('i-next')"></i>
          </a>
        </li>
        {{ end }}
        <li>
          <a class="icon" href="#" onclick="window.scrollTo({top: 0, behavior: 'smooth'});" aria-label="{{ i18n "nav.topOfPage" }}">
            <i class="fas fa-chevron-up" aria-hidden="true" onmouseover="toggleDisplay('i-top')" onmouseout="toggleDisplay('i-top')"></i>
          </a>
        </li>
        <li>
          <a class="icon" href="#" aria-label="Share">
            <i class="fas fa-share-alt" aria-hidden="true" onmouseover="toggleDisplay('i-share')" onmouseout="toggleDisplay('i-share')" onclick="toggleDisplay('share');return false;"></i>
          </a>
        </li>
      </ul>
      <span id="i-prev" class="info" style="display:none;">{{ i18n "nav.previousPost" }}</span>
      <span id="i-next" class="info" style="display:none;">{{ i18n "nav.nextPost" }}</span>
      <span id="i-top" class="info" style="display:none;">{{ i18n "nav.backToTop" }}</span>
      <span id="i-share" class="info" style="display:none;">{{ i18n "nav.sharePost" }}</span>
    </span>
    <br/>
    <div id="share" style="display: none">
      {{ .Scratch.Set "icon_class_name" ""}}
      {{ partial "share.html" . }}
    </div>
    {{ if not .Site.Params.tocInline }}
    <div id="toc">
      {{ .TableOfContents }}
    </div>
    {{ end }}
  </span>
</div>
