{{ $title := .Title }}
{{ $url := .Permalink }}
{{ $description := "" }}
{{ if .Description }}{{ $description = .Description }}{{ else }}{{ $description = .Summary }}{{ end }}
{{ $icon_class_name := .Scratch.Get "icon_class_name" }}
<ul>
  <li>
    <a class="icon" href="https://www.facebook.com/sharer.php?{{ (querify "u" $url) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="Facebook">
      <i class="fab fa-facebook {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://twitter.com/share?{{ (querify "url" $url "text" $title) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="Twitter">
      <i class="fab fa-twitter {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://www.linkedin.com/shareArticle?{{ (querify "url" $url "title" $title) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="Linkedin">
      <i class="fab fa-linkedin {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://pinterest.com/pin/create/bookmarklet/?{{ (querify "url" $url "is_video" "false" "description" $title) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="Pinterest">
      <i class="fab fa-pinterest {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="mailto:?{{ (querify "subject" $title "body" (printf "Check out this article: %s" $url)) | safeURL }}" aria-label="Email">
      <i class="fas fa-envelope {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://getpocket.com/save?{{ (querify "url" $url "title" $title) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="Pocket">
      <i class="fab fa-get-pocket {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://www.reddit.com/submit?{{ (querify "url" $url "title" $title) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="reddit">
      <i class="fab fa-reddit {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://www.tumblr.com/share/link?{{ (querify "url" $url "name" $title "description" $description) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="Tumblr">
      <i class="fab fa-tumblr {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
  <li>
    <a class="icon" href="https://news.ycombinator.com/submitlink?{{ (querify "u" $url "t" $title) | safeURL }}" target="_blank" rel="noopener noreferrer" aria-label="Hacker News">
      <i class="fab fa-hacker-news {{ $icon_class_name }}" aria-hidden="true"></i>
    </a>
  </li>
</ul>
