{{ define "main" }}
<article class="book-single" itemscope itemtype="http://schema.org/Book">
  <div class="book-detail">
    <div class="book-cover-large">
      {{ if .Params.cover }}
        <img src="{{ .Params.cover }}" alt="{{ .Title }}" itemprop="image">
      {{ else }}
        <div class="book-cover-placeholder-large">📖</div>
      {{ end }}
    </div>
    <div class="book-info-large">
      <h1 itemprop="name">{{ .Title }}</h1>
      <p class="author" itemprop="author">{{ i18n "book.author" }} {{ .Params.author }}</p>
      <div class="rating" itemprop="reviewRating" itemscope itemtype="http://schema.org/Rating">
        {{ partial "stars.html" .Params.rating }}
      </div>
      <div class="meta">
        <p>{{ i18n "book.dateFinished" }} {{ .Params.dateFinished | default .Date | time.Format (.Site.Params.dateFormat | default "2006-01-02") }}</p>
        <p>{{ i18n "book.readingTime" }} {{ .Params.readingTime }}</p>
      </div>
      <div class="external-links">
        {{ with .Params.doubanId }}
          <a href="https://book.douban.com/subject/{{ . }}/" target="_blank" rel="noopener noreferrer" class="external-link">{{ i18n "book.doubanLink" }}</a>
        {{ end }}
        {{ with .Params.neodbId }}
          <a href="https://neodb.social/book/{{ . }}/" target="_blank" rel="noopener noreferrer" class="external-link">{{ i18n "book.neodbLink" }}</a>
        {{ end }}
      </div>
    </div>
  </div>
  <div class="book-review content">
    <h2>{{ i18n "book.review" }}</h2>
    <div itemprop="reviewBody">
      {{ .Content }}
    </div>
  </div>
</article>
{{ end }}
